// Menu 
.menu-list {
    width: 224px;

    .menu-item {
        width: 100%;
        color: rgb(22, 24, 35);
        margin-left: 0;
        padding: 10px 8px 10px 16px;
        font-weight: 500;
        text-decoration: none;
        text-align: left;
        border-radius: 0;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper   {
    padding-bottom: 8px;
}